# Lasso Regularization

In [80]:
import pandas as pd

data = pd.read_csv('data.csv')

data.head()

,age,children,bmi,sex_female,sex_male,smoker,region_northeast,region_northwest,region_southeast,region_southwest,price_range
0,28,1,37.620,1,0,0,0,0,1,0,cheap
1,28,1,24.320,1,0,0,1,0,0,0,expensive
2,35,1,34.800,1,0,0,0,0,0,1,cheap
3,51,3,36.385,1,0,0,0,1,0,0,expensive
4,20,0,30.590,1,0,0,1,0,0,0,cheap

You should know the dataset by now! 
- Each row corresponds to the profile of health insurance client
- The features are client specificities
- `charges` is the amount paid by the client for the insurance

üëá Optimize the regularization penalty of a Lasso classification model. According to your optimal model, which features do not influence the charges paid by a client?

In [ ]:
# Go!

‚ö†Ô∏è Please, push the exercice once you have completed it üôÉ

# üèÅ